<div class="main-container">
  <aside class="main-sidebar">
    <h5 class="sidebar-title">目录</h5>
    <div class="sidebar-wrapper">
      <ul>
        <li>
          <a routerLink="/demoComponent" routerLinkActive="active">创建组件</a>
        </li>
        <li>
          <a routerLink="/demoStyle" routerLinkActive="active">使用CSS美化组件</a>
        </li>
        <li>
          <a routerLink="/demoBind" routerLinkActive="active">属性和事件绑定</a>
        </li>
        <li>
          <a routerLink="/demoInput" routerLinkActive="active">组件通讯(@Input和@Output)</a>
        </li>
        <li>
          <a routerLink="/demoDirective" routerLinkActive="active">创建指令(Directive)</a>
        </li>
        <li>
          <a routerLink="/demoService" routerLinkActive="active">创建服务(Service)</a>
        </li>
        <li>
          <a routerLink="/demoPipe" routerLinkActive="active">创建管道(Pipe)</a>
        </li>
        <li>
          <a routerLink="/demoForm" routerLinkActive="active">创建表单(Form)</a>
        </li>
        <li>
          <a routerLink="/demoRouter/123" routerLinkActive="active">路由导航(Router)</a>
        </li>
        <li>
          <a routerLink="/demoRouter2" routerLinkActive="active">路由导航2(Router)</a>
        </li>
        <li>
          <a routerLink="/demoAnimation" routerLinkActive="active">动画(Animation)</a>
        </li>
        
      </ul>
    </div>
  </aside>
  <section class="main-content">
    <router-outlet></router-outlet>
  </section>
</div>
