:host /deep/ {
  .main-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .main-container,
  .main-sidebar,
  .main-content {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .main-sidebar {
    left: 0;
    width: 250px;
    border-right: 1px solid #d9d9d9;

    .sidebar-title {
      line-height: 40px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #d9d9d9;
    }

    .sidebar-wrapper {
      position: absolute;
      top: 40px;
      left: 0;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      overflow-y: auto;

      ul > li {
        display: flex;
        line-height:40px;
        align-item: center;

        a {
          display: flex;
          padding-left: 30px;
          text-decoration: none;
          color: #333;
          flex: 1 0 auto;
          cursor: pointer;
          border-bottom: 1px solid #d9d9d9;

          &:hover,
          &.active {
            background: #eee;
          }
        }
      }
    }
  }

  .main-content {
    left: 250px;
    right: 0;
    overflow: hidden;
    overflow-y: auto;
    padding: 15px;
  }
}
